PORT=3000
HOSTNAME=0.0.0.0
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOW_IDS=
WEBAPP_URL=https://samparo.pro
WEBHOOK_URL=https://samparo.pro
DATABASE_URL=postgres://postgres:PASSWORD@financial_financial:5432/financial?sslmode=disable
API_URL=http://127.0.0.1:3070
